html {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
/*font-family: Palatino, times, serif*/
font-family: Helvetica, "sans-serif";
}
#upperNav
{
position: fixed;
  left:0;
  top:0px;
z-index:4;
width:100%;
height:15px;
padding: 15px 0 15px 0; /*top right bottom left*/
background-color:MidnightBlue;
  text-align:center;
}
#main
{
position: absolute;
  left:0;
  top:45px;
//  padding: 0px 2% 0 2%; /*top right bottom left*/
//margin-top: 60px;
//margin-left: 0px;
width:100%;
min-height:93%;
background-color:WhiteSmoke;
color: #181818;
} 
#work_main
{
position:absolute;
  left:14%;
  top:45px;
z-index:1;
width:86%;
min-height:93%;
  background-color:WhiteSmoke;
color:#181818;
} 
#sideNav
{
position: fixed;
  left:0;
  top:45px;
z-index:3;
width:14%;
height: 100%;
 border-right: 2px solid MidnightBlue;
 font-size:8pt;
  line-height:200%;
background-color:SteelBlue;
//  overflow:scroll;
}
#icon
{
position: absolute;
  right:10px;
}
hr
{ 
background-color:MidnightBlue;
width:90%;
height:2px;
border:0;
margin:0;
margin-left:auto;
margin-right:auto;
padding:0;
 }
ul
{
float:left;
width:90%;
padding:0;
margin:0;
list-style-type:none;
}
ol
{
list-style-type:lower-roman;
}
li
 {
  padding:0 5px 0 0px;
  /*list-style-type:none;*/
  }
#upperNav li
 {
  display:inline;
  padding:0 10px 0 10px;
  }
#sideNav ul
{
  padding:15px 0em 0em 10px;
 }

a
{
  text-decoration:none;
}
a.nav
{
text-align:center;      
text-decoration:none;
color:Gold;
position:relative;
padding: 5px 5px 5px 5px;
}
a.nav:visited {color:Gold; }
a.nav:hover
{
  background-color:LightGoldenRodYellow;
  color:Black;
}
a.text
{
text-decoration:none;
color:GoldenRod;
position:relative;
}
a.text:hover{color:MidnightBlue;}
/*a.text:visited:hover{color:GoldenRod;}
a.text:visited {color:Gold;}*/
a span{display: none;  font-size:9pt;}
a.text:hover span, a.nav:hover span
{ 
   display:block;
    position:absolute;
    top:1.5em; left:-1em;
// width:15em;
  white-space:nowrap;
    border:1px solid #181818;
    background-color:Silver;
  color:MidnightBlue;
    text-align: center;
 }
a.intLink{padding-top:50px;}
a.intText
{
color:Gold;
}
a.intText:hover{color:Black;}

ul.nav
{
margin:0em 5px 0px 2%;
list-style-type:none;
list-style-position:outside;
font-size:100%;
position:relative;
}
ul.nav ul.nav
{ 
  display: none;
  padding:0em 0em 0em 0em;
//  padding:0em 0em 0em 10px;
  margin:0em 0em 0em 0em;
  width:90%;
  line-height:150%;
//  border:1px solid MidnightBlue;
top:-1.5em;
 }

ul.nav ul.nav a.nav
{ padding: 0px 5px 0px 5px;
 }

#main ul.nav
{
  margin: 10px 0px 5px 20px;
line-height: 150%;}

#sideNav p
{
  padding:15px 0em 0em 10px;
margin:0; 
}
div.tooshort{height:93%} 
p{width:93%;}
p.larger
{
line-height:200%;
padding:10px 10px 10px 20px;
}
table.bordered
{
border-top: 3px solid MidnightBlue;
border-bottom: 3px solid MidnightBlue;
 text-align:center;
}

table.list
{ 
border-color:MidnightBlue;
 text-align:center;
  margin:0.5em 1em 1em 2em;
//  padding:1em 0em 0em 0em;
 border-collapse:collapse;
border-width:4px;
border-style: ridge;
 }
table.list td
{ 
    padding:0 15px 0 15px;
 }
tr.title
{ 
font-weight:bold;
 }
#work_main p, h2, h3, h4, #main p
{
    padding:0 15px 0 15px;
}
tr.even td,tr.odd td
{
  padding:55px 20px 25px 20px;

}
tr.even
{
background-color:GhostWhite;
  padding:25px 20px 25px 20px;
}
tr.odd
{
background-color:WhiteSmoke;
  padding:25px 20px 25px 20px;
}
img
{
  border:0px;
}
td img
{
  border:0px;
  height:150px;
}
.centered
{
  text-align:center;
}
.lefted
{
  text-align:left;
}
.righted
{
  text-align:right;
  padding-right:10px;
}

#main form, form.leftish
{ 
  padding:0.5em 2em 0.5em 2em;

 }
fieldset
{ 
//border:1px solid MidnightBlue;
border:none;
padding:0.5em 0em 0.5em 0em;
margin-left:auto;
margin-right:auto;
//width:55em;
text-align:left;
 }
label
{ 
width: 5em;
//float: left;
text-align: right;
margin-right: 0.3em;
 }
input
{ 
color:Silver;
background-color:SteelBlue;
border-width:1px;
border-style: solid;
border-color: Lavender DeepSkyBlue DeepSkyBlue Lavender;
margin:0.1em 0.3em 0.1em 0em;
 }
input.submit
{ 
color:Silver;
background-color:MidnightBlue;
width:10em;
border-width:3px;
border-style: outset;
border-color: Lavender DeepSkyBlue DeepSkyBlue Lavender;
/*border-color: LightSalmon DarkSalmon DarkSalmon LightSalmon;*/
 }
fieldset input.submit
{ 
margin:0.5em 0em 0em 15.5em;
 }
.disabled{opacity:0.5;  }

input:focus
{
background-color:MediumBlue;
}

::selection {
background: MidnightBlue;
color: Silver;
}
::-moz-selection {
background: MidnightBlue none repeat scroll 0 0;
color: Silver;
}

#magTables
{
  margin-left:auto;
  margin-right:auto;
 border-collapse:collapse;
position:relative;

}

#magTables table
{
border-width:4px;
border-style: ridge;
padding:0.1em 0.5em 0.1em 0.5em;
margin:0.5em 1em 0.5em 1em;
position:relative;
}

.tooltip
{
text-decoration:none;
position:relative;
}
.tooltip span
{
display: none;
 font-size:9pt;
 top:-1.5em; left:-1em;
 }

.tooltip span.leftTable{top:16em; left:25%; }
.tooltip span.rightTable{top:22em; left:50%;
 }

.tooltip:hover span
{ 
   display:block;
    position:absolute;
  white-space:nowrap;
    border:1px solid #181818;
    background-color:SteelBlue;
  color:MidnightBlue;
    text-align: center;
 }

pre.quote
{
font-family:monospace;
clear:center;
background-color:LightGray;
font-size:85%;
width:75%;
position:relative;
margin-left:auto;
margin-right:auto;
}

ul.text
{
margin:-0.5em 0px 7px 3%;
list-style-type:none;
font-size:95%;
position:relative;
margin-right:auto;
width:100%;
}

ul.text ul.text
{
top:0.3em;
left:0%;
font-size:98%;
}

div.disclaimer
{
width:75%;
font-size:75%;
text-align:center;
margin-left:auto;
margin-right:auto;
}